<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.dubbo.mapper.ContactMapper">
  <sql id="column"> id,userid,uname,uphone,relation,intime</sql>

  <select id="findAll"   resultType="com.study.dubbo.domain.Contact" >

    SELECT  <include refid="column"/>
    FROM  contact
  </select>

</mapper>